{
  "openapi": "3.1.0",
  "info": {
    "title": "SexyVoice API",
    "description": "API for text-to-speech generation and metadata discovery.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sexyvoice.ai",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Speech",
      "description": "Generate speech audio"
    },
    {
      "name": "Metadata",
      "description": "Discover available voices, models, and API schema"
    },
    {
      "name": "Billing",
      "description": "Retrieve account balance and latest billing transaction"
    }
  ],
  "paths": {
    "/api/v1/speech": {
      "post": {
        "tags": ["Speech"],
        "summary": "Generate speech audio",
        "description": "Generates speech from text using the requested model and voice.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoiceGenerationRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic generation",
                  "value": {
                    "model": "gpro",
                    "input": "Hello, world!",
                    "voice": "poe"
                  }
                },
                "with_style_and_seed": {
                  "summary": "Generation with style and seed",
                  "value": {
                    "model": "gpro",
                    "input": "This is exciting news.",
                    "voice": "poe",
                    "style": "happy",
                    "seed": 1234
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Speech generated",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit-Requests": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining-Requests": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset-Requests": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceGenerationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Voice not found",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Content policy violation",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit-Requests": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining-Requests": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset-Requests": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/voices": {
      "get": {
        "tags": ["Metadata"],
        "summary": "List available voices",
        "responses": {
          "200": {
            "description": "Voices list",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoicesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/models": {
      "get": {
        "tags": ["Metadata"],
        "summary": "List available models",
        "responses": {
          "200": {
            "description": "Models list",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/openapi": {
      "get": {
        "tags": ["Metadata"],
        "summary": "Get OpenAPI schema",
        "responses": {
          "200": {
            "description": "OpenAPI document",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/billing": {
      "get": {
        "tags": ["Billing"],
        "summary": "Get billing balance",
        "description": "Returns current credit balance and your latest purchase/topup transaction.",
        "responses": {
          "200": {
            "description": "Billing balance",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit-Requests": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining-Requests": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset-Requests": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key"
      }
    },
    "headers": {
      "RequestId": {
        "description": "Server-generated request identifier for debugging.",
        "schema": {
          "type": "string",
          "example": "req_sv_9f9f6c6dd19f4e4bbf8b7029f2a8f61a"
        }
      },
      "RateLimitLimit": {
        "schema": {
          "type": "string",
          "example": "60"
        }
      },
      "RateLimitRemaining": {
        "schema": {
          "type": "string",
          "example": "59"
        }
      },
      "RateLimitReset": {
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["message", "type", "code"],
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "enum": [
                  "invalid_request_error",
                  "authentication_error",
                  "permission_error",
                  "not_found_error",
                  "rate_limit_error",
                  "server_error"
                ]
              },
              "param": {
                "type": ["string", "null"]
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      },
      "VoiceGenerationRequest": {
        "type": "object",
        "required": ["model", "input", "voice"],
        "properties": {
          "model": {
            "type": "string",
            "enum": ["gpro", "kokoro"]
          },
          "input": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1000
          },
          "voice": {
            "type": "string",
            "minLength": 1
          },
          "response_format": {
            "type": "string",
            "enum": ["wav", "mp3"]
          },
          "style": {
            "type": "string"
          },
          "seed": {
            "type": "integer"
          }
        },
        "additionalProperties": false
      },
      "VoiceGenerationResponse": {
        "type": "object",
        "required": [
          "url",
          "credits_used",
          "credits_remaining",
          "cached",
          "usage"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "credits_used": {
            "type": "integer",
            "minimum": 0
          },
          "credits_remaining": {
            "type": "integer",
            "minimum": 0
          },
          "cached": {
            "type": "boolean"
          },
          "usage": {
            "type": "object",
            "required": ["input_characters", "model"],
            "properties": {
              "input_characters": {
                "type": "integer"
              },
              "model": {
                "type": "string"
              }
            }
          }
        }
      },
      "VoiceInfo": {
        "type": "object",
        "required": ["id", "name", "language", "model", "formats", "styles"],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "model": {
            "type": "string",
            "enum": ["gpro", "kokoro"]
          },
          "formats": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["wav", "mp3"]
            }
          },
          "styles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "VoicesResponse": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VoiceInfo"
            }
          }
        }
      },
      "ModelInfo": {
        "type": "object",
        "required": [
          "id",
          "name",
          "max_input_length",
          "supported_formats",
          "supported_styles"
        ],
        "properties": {
          "id": {
            "type": "string",
            "enum": ["gpro", "kokoro"]
          },
          "name": {
            "type": "string"
          },
          "max_input_length": {
            "type": "integer"
          },
          "supported_formats": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["wav", "mp3"]
            }
          },
          "supported_styles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ModelsResponse": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModelInfo"
            }
          }
        }
      },
      "BillingTransaction": {
        "type": "object",
        "required": [
          "id",
          "type",
          "amount",
          "description",
          "created_at",
          "reference_id",
          "subscription_id"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["purchase", "topup"]
          },
          "amount": {
            "type": "number"
          },
          "description": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "reference_id": {
            "type": ["string", "null"]
          },
          "subscription_id": {
            "type": ["string", "null"]
          },
          "metadata": {
            "type": ["object", "array", "string", "number", "boolean", "null"]
          }
        }
      },
      "BillingResponse": {
        "type": "object",
        "required": [
          "creditsLeft",
          "lastUpdated",
          "userId",
          "lastBillingTransaction"
        ],
        "properties": {
          "creditsLeft": {
            "type": "integer",
            "minimum": 0
          },
          "lastUpdated": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "userId": {
            "type": "string"
          },
          "lastBillingTransaction": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/BillingTransaction"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      }
    }
  }
}
